{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay-404"></div>
    <div class="container-fluid-404">
        <div class="row">
            <div class="col text-center">
                <h5 class="display-404 logo-font mt-4" style="color: #ffcb9a;"> The Site is Broke am Sorry.
                </h5>
                <div class="mt-4">
                     <img src="{{ MEDIA_URL }}broke.jpg" alt = "broke page">
                    <h3>
                        <a href="{% url 'home' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Home page</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}