{% extends 'base.html' %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 left  top">
                <div class="card-body">
                    <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                    <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                    <div class="card-text ">
                        <p>{{ object.content | safe }}</p>
                        <hr>
                        <h2>Comments... </h2>
                        <br>
                        <div>
                            {% if not post.comments.all %}
                                <p>No comments yet .. </p>
                                <p><a href="{% url 'add_comment' post.slug %}">Add Comment</a></p>
                            {% else %}
                                {% for comment in post.comments.all %}
                                    <div class="comments {% if forloop.counter > 3 %}d-none{% endif %}">
                                        <p><strong>{{ comment.name }} -</strong> {{ comment.date }}</p>
                                        <p>{{ comment.body }}</p>
                                        <hr>
                                    </div>
                                {% endfor %}
                                {% if post.comments.all|length > 3 %}
                                    <button class="btn btn-secondary">Show All Comments</button>
                                {% endif %}
                                <p><a class="btn btn-primary" href="{% url 'add_comment' post.slug %}">Add Comment</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}